* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background: #384e1d;
}

.title{
    color: #f2f2f2;
    font-weight: 900;
}

.app-info{
    color: #f2f2f2;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}

.upload-photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background: #f0f8ff;
}

.step-1-text{
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-top: 30px;
}

.step-1-desc{
    color: gray;
    font: 600;
    font-size: 15px;
    margin-top: 10px;  
}

.upload-photo-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 600px;
    height: 400px;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    cursor: pointer;
}

.title-of-upload-box{
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.upload-photo-desc{
    color: gray;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}

.submit-button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #384e1d;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.submit-button:hover{
    background: #007acc;
}

#preview{
    display: none;
    max-width: 90%;
    max-height: 90%;
    margin-top: 10px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
