<!DOCTYPE html>
<html>
<head>
    <title>Bug Bite Identifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='HomePage.css') }}">
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('preview');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);

            // hide the text inside the box
            document.querySelector('.title-of-upload-box').style.display = 'none';
            document.querySelector('.upload-photo-desc').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="banner-container">
        <a href="https://downloadmoreram.com" target="_blank">
            <img src="{{ url_for('static', filename='VirusBanner.png') }}" alt="Banner Image" class="banner-image">
        </a>
    </div>
    <div class="title-container">
        <h1 class="title">Bug Bite Identifier</h1>
        <p class="app-info">Upload a photo of your bug bite and get instant identification, treatment recommendations, and healing timeline information.</p>
    </div>

    <div class="upload-photo-container">
        <h3 class="step-1-text">Step 1. Upload Your Photo</h3>
        <p class="step-1-desc">Take a clear photo of the bug bite for accurate analysis</p>

        <form action="/predict" method="POST" enctype="multipart/form-data">
            <div class="upload-photo-box" onclick="document.getElementById('photo').click()">
                <h6 class="title-of-upload-box">Upload Bug Bite Photo</h6>
                <p class="upload-photo-desc">Click anywhere to select an image</p>
                <input id="photo" type="file" name="photo" accept="image/*" required style="display: none;" onchange="previewImage(event)">
                <img id="preview" src="" alt="Image Preview"/>
            </div>

            <br>
            <button type="submit" class = "submit-button">Predict</button>
        </form>
    </div>
</body>
</html>
